{% extends "base.html" %}

{% block content %}
  <div class="container mt-5">
    <h2 class="text-center">My Profile</h2>

    <div class="row justify-content-center">
      <div class="col-md-8">
        <form method="post" class="bg-light p-4 rounded">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn btn-success btn-block">Update Profile</button>
        </form>

        <div class="mt-4 text-center">
          <a href="{% url 'change_password' %}" class="btn btn-warning">Change Password</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
